In [ ]:
import json
import pandas as pd
from pandasql import sqldf

In [ ]:
with open("../data/restaurants-v2/restaurant-metadata.json") as f:
    metadata_json = json.load(f)

In [ ]:
def metadata_for_restaurant(restaurant_name):
    return next(iter(metadata_json), lambda m: m["restaurant_name"] == restaurant_name)

In [ ]:
metadata_for_restaurant("GreatTokyoExpress")

In [ ]:
df = pd.DataFrame(metadata_json)

In [ ]:
restaurants = df.copy()
restaurants["dishes"] = restaurants["dishes"].apply(lambda dishes: ', '.join(dishes))
# metadata

In [ ]:
sqldf(
    """
SELECT *
FROM restaurants
LIMIT 10
    """)

In [ ]:
sqldf(
    """
WITH tmp AS
(
   SELECT *,
         ROW_NUMBER() OVER (PARTITION BY district_name ORDER BY average_price_per_person DESC) AS rn
   FROM restaurants
)
SELECT *
FROM tmp
WHERE rn = 1
    """)